<h2>Location Details</h2> 

<hr/>
<div *ngIf="location">
  <div>
    <label><b>Location Name: </b></label> {{location.locationName}}
  </div>
  <div>
    <label><b>Location Lat: </b></label> {{location.locationLat}}
  </div>
  <div>
    <label><b>Location Long: </b></label> {{location.locationLong}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">See All Saved Locations</button>
<button (click)="updateLocation(location.locationId)" class="btn btn-info" style="margin-left: 10px">Update</button>
<br>