<h2>{{location.locationName}}</h2>
<label><b>Location Latitude: </b></label> {{location.locationLat}}
<br>
<label><b>Location Longitude: </b></label> {{location.locationLong}}

<br>
<hr />
<div class="container">

  <div class="row">

    <!-- This will be the Map -->
    <div class="col-sm-4">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
          cap</text>
      </svg>
    </div>

    <!-- This will be the current forecast -->
    <div class="col-sm-8">

      <div class="climacell-widget" data-apikey="" data-type="nowcast" 
      data-location-name="San Antonio, TX, USA" data-location-lon="-98.49362819999999" data-location-lat="29.4241219" 
      data-size-mode="large" data-font-color="#000" data-background-color="#ffffff" data-font-family="verdana" 
      data-weather-params="temp:F,precipitation:in/hr,wind_speed:knots,visibility:mi,cloud_cover:%" data-precipitation-timeline="true" 
      data-allow-users-enter-address="true" ></div>

      <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
        aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
          cap</text>
      </svg> -->
    </div>
  </div>
  <br>


  <div class="row">
    <div class="col-sm card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">

          <li class="nav-item">
            <a class="nav-link active" id="day3-tab-just" data-toggle="tab" href="#day3-just" role="tab"
              aria-controls="day3-just" aria-selected="true">3 Day Forecast</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="day5-tab-just" data-toggle="tab" href="#day5-just" role="tab"
              aria-controls="day5-just" aria-selected="false">5 Day Forecast</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="charts-tab-just" data-toggle="tab" href="#charts-just" role="tab"
              aria-controls="charts-just" aria-selected="false">Charts</a>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>

<app-weather-data></app-weather-data>

<br>
<button (click)="list()" class="btn btn-primary">See All Saved Locations</button>
<button (click)="updateLocation(location.locationId)" class="btn btn-info" style="margin-left: 10px">Update</button>
<br>